In [1]:
import pandas as pd

In [2]:
import glob

In [7]:
import re

In [32]:
path =r'/home/farhaan/working_projects/fatalitydata'
allFiles = glob.glob(path + "/*.csv")
regex = re.compile('(?<=/)[\w]+(?=\.csv)')
df_name_list = []
for file_path in allFiles:
    print(file_path)
    file_name = re.findall(regex,file_path)[0]
    df_name_list.append("df_"+file_name)
    exec("df_"+file_name+" = pd.read_csv(file_path,index_col=None, header=0,error_bad_lines=False)")

/home/farhaan/working_projects/fatalitydata/drimpair.csv
/home/farhaan/working_projects/fatalitydata/cevent.csv
/home/farhaan/working_projects/fatalitydata/damage.csv
/home/farhaan/working_projects/fatalitydata/vsoe.csv
/home/farhaan/working_projects/fatalitydata/miper.csv
/home/farhaan/working_projects/fatalitydata/accident.csv
/home/farhaan/working_projects/fatalitydata/nmcrash.csv
/home/farhaan/working_projects/fatalitydata/nmimpair.csv
/home/farhaan/working_projects/fatalitydata/person.csv
/home/farhaan/working_projects/fatalitydata/vindecode.csv

/home/farhaan/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2821: DtypeWarning: Columns (13,23,49,50,94) have mixed types. Specify dtype option on import or set low_memory=False.
  if self.run_code(code, result):

/home/farhaan/working_projects/fatalitydata/violatn.csv
/home/farhaan/working_projects/fatalitydata/parkwork.csv
/home/farhaan/working_projects/fatalitydata/distract.csv
/home/farhaan/working_projects/fatalitydata/maneuver.csv
/home/farhaan/working_projects/fatalitydata/safetyeq.csv
/home/farhaan/working_projects/fatalitydata/miacc.csv
/home/farhaan/working_projects/fatalitydata/pbtype.csv
/home/farhaan/working_projects/fatalitydata/midrvacc.csv
/home/farhaan/working_projects/fatalitydata/factor.csv
/home/farhaan/working_projects/fatalitydata/vevent.csv
/home/farhaan/working_projects/fatalitydata/vision.csv
/home/farhaan/working_projects/fatalitydata/nmprior.csv
/home/farhaan/working_projects/fatalitydata/vehicle.csv

UnicodeDecodeError: 'utf-8' codec can't decode byte 0xa0 in position 7: invalid start byte

In [25]:
df_name_list

['df_drimpair',
 'df_cevent',
 'df_damage',
 'df_vsoe',
 'df_miper',
 'df_accident',
 'df_nmcrash',
 'df_nmimpair',
 'df_person',
 'df_vindecode',
 'df_violatn',
 'df_parkwork',
 'df_distract',
 'df_maneuver',
 'df_safetyeq',
 'df_miacc',
 'df_pbtype',
 'df_midrvacc',
 'df_factor',
 'df_vevent',
 'df_vision',
 'df_nmprior',
 'df_vehicle']

In [33]:
df_vehicle

      STATE  ST_CASE  VEH_NO  PER_NO  MPR_ACT
0         1    10008       0       1        3
1         1    10031       0       1        3
2         1    10040       0       1        8
3         1    10042       0       1        3
4         1    10050       0       1        5
5         1    10055       0       1        5
6         1    10059       0       1        5
7         1    10064       0       1        5
8         1    10069       0       1        3
9         1    10072       0       1        3
10        1    10073       0       1        3
11        1    10076       0       1        8
12        1    10077       0       1        5
13        1    10088       0       1        3
14        1    10090       0       1        8
15        1    10098       0       1        3
16        1    10113       0       1        3
17        1    10117       0       1        8
18        1    10124       0       1        3
19        1    10128       0       1        5
20        1    10131       0       1        8
21        1    10137       0       1        3
22        1    10148       0       1        6
23        1    10160       0       1        3
24        1    10162       0       1        8
25        1    10178       0       1        3
26        1    10183       0       1        5
27        1    10206       0       1        3
28        1    10208       0       1        3
29        1    10224       0       1        8
...     ...      ...     ...     ...      ...
7123     55   550406       0       1        3
7124     55   550407       0       1        3
7125     55   550409       0       1        9
7126     55   550409       0       2        9
7127     55   550410       0       1        5
7128     55   550431       0       1        8
7129     55   550436       0       1        3
7130     55   550439       0       1        3
7131     55   550446       0       1        6
7132     55   550449       0       1        8
7133     55   550455       0       1        3
7134     55   550458       0       1       98
7135     55   550468       0       1        3
7136     55   550479       0       1        6
7137     55   550485       0       1        9
7138     55   550485       0       1       12
7139     55   550486       0       1        8
7140     55   550492       0       1        6
7141     55   550495       0       1        9
7142     55   550498       0       1        3
7143     55   550501       0       1        3
7144     55   550503       0       1        6
7145     55   550523       0       1        8
7146     56   560028       0       1       12
7147     56   560031       0       1       98
7148     56   560042       0       1        1
7149     56   560042       0       1        3
7150     56   560048       0       1       99
7151     56   560052       0       1       14
7152     56   560123       0       1        3

[7153 rows x 5 columns]

In [ ]:
read/home/farhaan/working_projects/fatalitydata/